/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


/* font families */

@font-face{
    
    font-family:'Opensans';
    src:url(../fonts/sans-serif/opensans-regular.ttf), format('truetype');
    font-weight:normal;
    font-style:normal;
    
}

@font-face{

font-family:'Montserrat';
src:url("../fonts/sans-serif/montserrat-regular.ttf") format ('truetype');
font-weight:normal;
font-style:normal;

}


@font-face{
    
    font-family:'Ultra';
    src:url(../fonts/serif/ultra-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    
    font-family:'Rozhaone';
    src:url(../fonts/serif/rozhaone-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

/* general style */

html{
    
    font-family:'Montserrat', sans-serif;
    font-size:1.25rem;
    color:#424543;
}

/* heading style */

h1{

font-family:'Opensans', sans-serif;
font-size:3rem;
color:#333333;
text-shadow: 0.08rem 0.08rem 0.15rem #0d0d0d;
letter-spacing:0.1rem;
transform:rotate(-5deg);
text-align:center;
padding-bottom:2rem;
margin-top:3rem;

}

.highlight{

font-family:'Ultra', serif;
font-size:3.5rem;
font-weight:100;
color:#ededde;
text-shadow:none;
background-color:#862d59;
letter-spacing:0.35rem;


/* box around text */

padding: 0rem 0.75rem 0rem 0.75rem;
border:solid;
border-color:#862d59;
border-radius:0.75rem 0rem 0.75rem 0rem;
box-shadow:0.08rem 0.08rem 0.15rem #0d0d0d;
text-transform:uppercase;

}


h2{

margin-left:2.5rem;
color:#333333;
font-size:1.5rem;
margin-top:2rem;

}

h3{

margin-left:2.5rem;
color:#333333;
font-family:'Montserrat', sans-serif;
font-size:1.1rem;

}

/* paragraphs */

p{
    
    
margin-left:2.5rem;
    
}

/* navigation bar */

nav{

font-family:'Opensans', sans-serif;
font-weight:600;
line-height:2;
font-size:1.5rem;
text-decoration:none;
margin-left:2.5rem;
    
  /* line */   
    
border:solid;
border-color:#333333;
border-width:0.075rem 0rem 0.075rem 0rem;

}

nav a{

text-decoration:none;
padding-right:5rem;
color:#204060;

}

.blog{

color:black;
text-transform:uppercase;
text-decoration:line-through;

}

/* time */

time{

float:left;
font-family:'Opensans', sans-serif;
font-style:italic;
color:#333333;
margin-left:2.5rem;

}


/* styling for images */


    /* top image */

.article-image{

width:20rem;
float:left;
margin-left:2.5rem;

}

/* images */

figure{

float:left;
margin:0;
margin-right:1rem;

}

.subsection{

margin-top:5rem;    
margin-left:2.5rem;

}

figure img{

vertical-align:top;
width:18rem;

}

figcaption{

background-color:#ededde;
display:block;
padding:0.35rem;

}

/* button */

button{

    
font-family: 'Ultra', serif;
font-size:1.5rem;
color:#ededde;
text-transform:uppercase;
    
/* button background */

background-color:#204060;
border-radius:0.6rem;
padding:0.5rem;
box-shadow:0.08rem 0.08rem 0.15rem #0d0d0d;

}

/* aside style */ 

aside{

float:right;
width:25%;
border:solid;
border-color:#333333;
border-width:0rem 0rem 0rem 0.075em;

}

aside > img{

margin: 0.75rem 2.5rem 0rem 2.5rem;
width:18rem;

}

img + p{

margin-top:1rem;
margin-bottom:1rem;
border:solid;
border-color:#333333;
border-width:0rem 0rem 0.075rem 0rem;
padding-bottom:2.5rem;

}

.dots{

display:block;
margin-top:0.25rem;
text-decoration:none;
font-size:0.25rem;
color:#333333;
letter-spacing:0.1rem;

}

/* footer */

footer{

    
font-family:'Opensans', sans-serif;
color:#333333;

}

p > a{

font-family:'Josefinslab', serif;
text-decoration:none;
color:#6e8a76;
text-align:left;

}

.image-links{

text-align:right;

}


































